/*Regole di Reset*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


img {
    max-width: 100%;

}

ul, ol, menu {

    list-style: none; 
}

/*Main Boxes*/
/*Mobile First*/


main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}


.mainbody{
    display: flex;
    flex-grow: 1;
    width: 100vw;

}

.footer{

    background-color: #282828;
    height: 90px;


}

.menu-aside{

    display: flex;
    max-height: 100%;

}

.asideleft {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    gap: 0.75rem;
}

.photoalbum{

    width: 10%;

}

.title-track{
    color: white;
    font-weight: bold;
}

.track, .name-track{
    color: #878787;
    font-weight: bold;
}

.favorite{
    color: #878787;

}



.asidecenter {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.75rem;
    background-color: red;
    flex-grow: 1;

}

.control-bar{
    flex-basis: 100%;
    display: flex;
    gap: 1rem;


}

.status-bar{
    flex-basis: 100%;
    display: flex;

    
}

.line-white{

    max-width: 100px;
    background-color: white;

}

.line-grey{


}

.asideright {

    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem;
    gap: 0.75rem;


}

.audio-bar{

    display: flex;
}




.header{
    
    background-color: blueviolet;
    border: 1px solid black;
    padding: 5rem;
}


.menu-nav{

  

}

.section{
    flex-grow: 1;
    background-color: cadetblue;
    border: 1px solid black;
    padding: 5rem;
    

}


.main-body{


}

/*Media Query*/


/*Small*/

@media (min-width: 639px) {



}

/*Medium*/

@media (min-width: 878px) {



}



/*Large*/


@media (min-width: 1440px) {



}




