/*Regole di Reset*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


img {
    max-width: 100%;

}

ul,
ol,
menu {

    font-style: none;

}

/*Main Boxes*/
/*Mobile First*/


main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}


.mainbody{
    display: flex;
    flex-grow: 1;
    width: 100vw;

}

.footer{

    background-color: green;
    border: 1px solid black;
    padding: 5rem;
    height: 90px;

}

.menu-aside{

    

}



.header{
    
    background-color: blueviolet;
    border: 1px solid black;
    padding: 5rem;
}


.menu-nav{

  

}

.section{
    flex-grow: 1;
    background-color: cadetblue;
    border: 1px solid black;
    padding: 5rem;
    

}


.main-body{


}

/*Media Query*/


/*Small*/

@media (min-width: 639px) {



}

/*Medium*/

@media (min-width: 878px) {



}



/*Large*/


@media (min-width: 1440px) {



}




